p{
    color:red;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    /* border: 1px solid red; */
}
h1{
    color:blue;
    font-size: 26px;
    font-weight: bold;
    background-color: pink;
}

.one{
    color:pink;
}

.two{
    font-family:'Times New Roman', Times, serif;
}

.div1 p{
    color:blue;
}

    /*让超链接点击之前是红色*/
	a:link{
		color:red;
	}

	/*让超链接点击之后是绿色*/
	a:visited{
		color:orange;
	}

	/*鼠标悬停，放到标签上的时候*/
	a:hover{
		color:green;
	}

	/*鼠标点击链接，但是不松手的时候*/
	a:active{
		color:black;